%section
	%div.authentication
		-if user_signed_in?
			=current_user.name
		-else
			=link_to('Login con twitter', signin_path)
		
	%form{:action => '/pools/save', :method => 'post'}
		%ul
			- @proposals.each do |f|
				%li
					=f.title
					=check_box_tag 'proposals[]', f.id
					
		%input{:type => 'submit', :value => 'save'}