%section
	%div.authentication
		-if user_signed_in?
			=current_user.name
		-else
			=link_to('Login con twitter', signin_path)
		
	%form{:action => '/pools/save', :method => 'post', :id => 'pools'}
		%ul
			- @proposals.each do |p|
				%li
					%table
						%tr
							%td
								%strong
									=p.speaker.name
						%tr
							%td
								%strong
									=p.title
						%tr
							%td
								=p.abstract
						%tr
							%td	
								=check_box_tag 'proposals[]', p.id
						%tr
							%td
								%hr
					
		%input{:type => 'submit', :value => 'save'}