%section
	%h2 Grazie per esserti registrato. Ti arriverà un'email con i dettagli della registrazione.
	%h3
		Come sai la conferenza è autofinanziata, quindi se vuoi fare una donazione puoi usare il link sotto.
		%br
		Se hai deciso di pranzare con noi ricordati di versarci i 10€ del pranzo. In caso contrario il tuo pranzo potrebbe non essere assicurato.
	%paypal
		= render :partial => 'paypal_button'

= link_to 'Home', root_path
