%section
	%h1
	%p
		Per partecipare alla UGIALT.net conference compila il form qui sotto.
		Il pranzo come di consueto è a base di Sushi, Pizza e bibite. Il costo è di 10€. Se decidi di pranzare con noi ti chiediamo di versare subito i 10€ utilizzando il link a paypal che ti verrà mostrato dopo la registrazione.

	= render 'form'