%section
	%h2 Ti ringraziamo per esserti registrato. Purtroppo i posti sono terminati. Ti mettiamo comunque in lista di attesa, qualora si libereranno dei posti verrai avvisato.
	
= link_to 'Home', root_path
