%section
	%p
		Per accedere all'area richiesta devi essere autenticato con Twitter!
	%p
		= flash[:alert]
	%h2
		= link_to('Autenticati con Twitter', '/auth/twitter')
	%h2
		= link_to('home', root_path)
