%section
	%p
		Per accedere all'area richiesta devi essere autenticato. Scegli il sistema di autenticazione che preferisci tra quelli elencati di seguito.
	%p
		= flash[:alert]
	%h2
		= link_to('Autenticati con Twitter', '/auth/twitter')
	%h2
		= link_to('home', root_path)
