%h1 Benvenuto in Conf-oo

%div
	%ul
		- if user_signed_in?
			= link_to('Logout', destroy_user_session_path, :method => :delete) 
		- else
			= link_to('Login', new_user_session_path) 
			
%div
	= link_to 'nuova proposta', new_proposal_path