%h1 Benvenuto in Conf-oo

%div
	%ul
		%li
			= link_to 'New proposal', new_proposal_path
		- if user_signed_in?
			%li
				= link_to('Logout', destroy_user_session_path, :method => :delete) 
			%li
				= link_to('Proposal list', proposals_path)
		- else
			%li
				= link_to('Login', new_user_session_path) 
	