%aside
  %img{:src => 'assets/arrow_down.png'}
    %span scroll down
%section
  %h3 
    No, il 
    %span.c3
      sito web 
    non è ancora pronto. Però la call for paper è 
    %span.c2
      ufficialmente aperta !
  %p 
    Puoi inviarci la tua proposta compilando l'apposito modulo online:
  = link_to 'vai al form', new_proposal_path