%aside
  %img{:src => 'assets/arrow_down.png'}
    %span scroll down
%section
  %h3 
    No, il 
    %span.c3
      sito web 
    non è ancora pronto. Però abbiamo raccolto molte proposte interessanti e puoi <span class="c2">votare</span> le tue preferite per concorrere alla definitizione dell'agenda della giornata.
    
  %p 
    Scegli le 5 proposte che preferisci....
  = link_to 'vai alla pagina delle votazioni', polls_path