%section
	%h2
		-if user_signed_in?
			%p
				=current_user.name
			%p
				Abbiamo ricevuto molte proposte per la conferenza ma purtroppo non abbiamo spazio per tutti, quindi dobbiamo scegliere le sessioni che verranno accettate.
				Esprimi la tua preferenza scegliendo le 5 sessioni che non vorresti assolutamente perdere.
		-else
			=link_to('Login con twitter', signin_path)
		
	%form{:action => '/polls/save', :method => 'post', :id => 'polls'}
		%ul
			- @proposals.each do |p|
				%li
					=check_box_tag 'proposals[]', p.id
					.proposal-title
						.c2
							=p.title
							%br
							%span.speaker
								=p.speaker.name
								=raw "<a href='#{p.speaker.twitter}'><img src='assets/twitter.gif' /></a>"
								=raw "<a href='#{p.speaker.blog}'><img src='assets/rss.png' /></a>"
						.abstract
							=p.abstract
		%input{:type => 'submit', :value => 'save'}