%section
	%h2
		-if user_signed_in?
			=current_user.name
		-else
			=link_to('Login con twitter', signin_path)
		
	%form{:action => '/polls/save', :method => 'post', :id => 'polls'}
		%ul
			- @proposals.each do |p|
				%li
					=check_box_tag 'proposals[]', p.id
					.proposal-title
						.c1
							=p.title
							%a abstract
						.c2
							=p.speaker.name
							%a bio
							- if(p.speaker.twitter!='')
								- if(p.speaker.twitter.starts_with? 'http')
									= link_to('Twitter', p.speaker.twitter)
								- else
									= link_to('Twitter', 'http://twitter.com/#!/'+p.speaker.twitter)
							- if(p.speaker.blog!='')
								= link_to('Blog', p.speaker.blog)
					.details
						%p
							Abstract:
							=p.abstract
						%p
							Bio speaker:
							=p.speaker.bio
					
		%input{:type => 'submit', :value => 'save'}