<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Conferma iscrizione UgiALT.net conference #uan12</h1>
    <p>
      <%= @user.name %> grazie per esserti iscritto alla conferenza.
      Continua a seguirci sul sito http://ugialt.net e su twitter @ugialtnet per rimanere aggiornato sulle 
      ultime novità della conferenza, l'agenda e tutto il resto.
    </p>
    <p>
      Grazie,
      lo staff
    </p>

  </body>
</html>