<!DOCTYPE html>
%html{:lang => 'it'}
  %head
    %title UGIALT.net Conference - Milano ~ 21 Gennaio 2011
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:400,500,700,600,800,200,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %body.home
      %div#boxRoot
        %header
          %h1 UGIALT.net Conference
          %h2
            %span.c1 6° Edizione
            -
            %span.c4 Milano ~ 21 Gennaio 2011
            %a{:href => 'about'} about
       
        = yield
      
      %div#boxScroll
        
      :javascript
        var _gaq = [['_setAccount', 'UA-156881-10'], ['_trackPageview']];
        (function(d, t) {
          var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
          g.async = true;
          g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g, s);
          })(document, 'script');

